* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", Helvetica;
  font-weight: 800;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
}

.active {
  border: 1px solid purple;
}
